# Qt dashboard product path example.
# Copy this file to conf/bblayers.conf after running:
#   source oe-init-build-env "$YOCTO_BUILD_DIR"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ${TOPDIR}/../sources/poky/meta \
  ${TOPDIR}/../sources/poky/meta-poky \
  ${TOPDIR}/../sources/poky/meta-yocto-bsp \
  ${TOPDIR}/../sources/meta-openembedded/meta-oe \
  ${TOPDIR}/../sources/meta-openembedded/meta-python \
  ${TOPDIR}/../sources/meta-qt6 \
  /workspace/meta-beaglebone-optimal \
  /workspace/meta-beaglebone-optimal-product \
"
