# Tiny path example.
# Append these lines into conf/local.conf after running:
#   source oe-init-build-env "$YOCTO_BUILD_DIR"

MACHINE = "beaglebone-optimal-tiny"
DISTRO = "beaglebone-optimal-tiny"

DL_DIR ??= "/storage/shared/downloads"
SSTATE_DIR ??= "/storage/shared/sstate"
SERIAL_CONSOLES = "115200;ttyS0"

INITRAMFS_IMAGE = "core-image-bbb-tiny-initramfs"
INITRAMFS_IMAGE_BUNDLE = "1"
