# Append these lines into conf/local.conf after running:
#   source oe-init-build-env "$YOCTO_BUILD_DIR"

MACHINE ??= "beaglebone-yocto"
DL_DIR ??= "/storage/shared/downloads"
SSTATE_DIR ??= "/storage/shared/sstate"
SERIAL_CONSOLES = "115200;ttyS0"
IMAGE_INSTALL:append = " util-linux util-linux-lsblk iproute2 ethtool i2c-tools e2fsprogs dosfstools"
