root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C/C++ Files (Linux Kernel style as per .clang-format)
[*.{c,cpp,h,hpp}]
indent_style = tab
indent_size = 8
tab_width = 8

# Makefiles strictly use tabs
[{Makefile,*.mk}]
indent_style = tab
indent_size = 8
tab_width = 8

# Kconfig
[Kconfig*]
indent_style = tab
indent_size = 8
tab_width = 8

# Device Tree
[*.{dts,dtsi}]
indent_style = tab
indent_size = 8
tab_width = 8

# Yocto Bitbake recipes
[*.{bb,bbappend,inc}]
indent_style = space
indent_size = 4

# Shell scripts
[*.sh]
indent_style = space
indent_size = 4

# Python
[*.py]
indent_style = space
indent_size = 4

# Data formats & Configs
[*.{json,yml,yaml,toml}]
indent_style = space
indent_size = 2

# Markdown documentation
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# Dockerfiles
[Dockerfile*]
indent_style = space
indent_size = 4