
# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
.gitnexus

# IDE files
.vscode/

# Understand Anything files
.understand-anything
.understand

# temporary files
tmp/

# Local Docker config
local.mk

# CLAUDE files
.claude/
CLAUDE.md

# Open code
.sisyphus

# User-specific files
.mnhat
